<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:label="XJet Sample"
        android:theme="@android:style/Theme.Light.NoTitleBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".XmlActivity"
            android:exported="false" />
    </application>
</manifest>


